@media (max-width: 1000px) {
  .header__inner {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }

  .header__logo {
    margin-bottom: 15px;
  }

  .favorable__item {
    width: 100%;
  }

  .favorable__img {
    width: 30%;
  }
}

@media (max-width: 800px) {
  .nav__list {
    flex-direction: column;
    text-align: center;
    display: none;
  }
  .header__nav {
    width: 100%;
    margin-top: 20px;
  }
  .nav__link {
    padding: 20px 0;
    background-color: var(--green);
    color: var(--white);
    margin-bottom: 2px;
  }

  .nav__link:hover {
    filter: brightness(90%);
  }

  .nav-button {
    display: block;
  }
}

@media (max-width: 600px) {
  .favorable__item {
    width: 100%;
    flex-direction: column;
  }

  .favorable__img {
    width: 70%;
    margin: 0 auto;
  }
}
