/*#region===========COMMONS==========*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --white: #fff;
  --green: #59c45a;
  --grey: #a3a3a3;
  --darkgrey: #bfbfbf;
  --font: Lato, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background-color: var(--white);
  font-family: var(--font);
}

@import url(../css/media.css);

/*#endregion COMMONS*/

/*#region===========HEADER==========*/

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 28px;
  color: var(--green);
  border: 2px solid var(--grey);
  padding: 12px 21px;
  position: relative;
}

.logo::after {
  content: "TRAVEL";
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  padding: 0 15px;
  left: 40px;
  top: 45px;
  background-color: var(--white);
}

.nav__list {
  display: flex;
}

.nav__link {
  display: block;
  padding: 55px 23px 56px;
  color: var(--grey);
  font-size: 18px;
  transition: 0.3s;
}

.nav__link:hover {
  background-color: var(--green);
  color: var(--white);
}

.nav-button {
  display: none;
  width: 100%;
  padding: 20px;
  border: none;
  background-color: var(--green);
  cursor: pointer;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 3px;
}

/*#endregion HEADER*/

/*#region===========MAIN==========*/

.main {
  background-image: url(../images/main-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  height: 100vh;
}

.main__title {
  font-size: 60px;
  font-weight: 700;
  margin: 0 0 65px;
}
.main__text {
  max-width: 990px;
  font-size: 22px;
  line-height: 1.7;
  margin-bottom: 100px;
}
.main__button {
  background-color: var(--green);
  padding: 25px 45px 27px;
  border-radius: 5px;
  font-size: 26px;
  text-transform: uppercase;
}

/*#endregion MAIN */

/*#region==========FAVORABLE===============*/

.favorable {
  padding: 100px 0 70px;
}

.title {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--green);
  position: relative;
  text-align: center;
  margin-bottom: 80px;
}

.title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 150px;
  background-color: var(--grey);
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: var(--green);
  top: 49px;
  left: 50%;
  transform: translateX(-50%);
}

.favorable__items {
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.favorable__item {
  display: flex;
  width: 50%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.favorable__img {
  width: 40%;
  margin-right: 30px;
  align-items: flex-start;
}
.favorable__text {
  color: var(--grey);
}
.favorable__bold {
  font-size: 15px;
  margin-bottom: 20px;
  color: #5e5e5e;
  line-height: 1.3;
  font-weight: 700;
}
.favorable__description {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

/*#endregion FAVORABLE */
